* {
  will-change: height;
  // transform: translateZ(0);
  // backface-visibility: hidden;
  // perspective: 1000px;
}

body {
  position: relative;
  color: $mainColor #f9f1e7;

  // &._lock {
  //   overflow: hidden;
  // }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // &._loaded {
  // }
}

.section {
  overflow: hidden;

  &-body {
    display: flex;
    justify-content: space-between;
  }

  &-container {
    $sidePadding: 15;
    $doubleSidePadding: $sidePadding * 2;

    @include margin('* auto');
    @include padding('* #{withPx($sidePadding)}');
    // min-width: withPx($minWidth);
    max-width: withPx($maxWidth);

    @include minMd {
      max-width: withPx($lgWidth + $doubleSidePadding);
    }

    @include minLg {
      max-width: withPx($xlWidth + $doubleSidePadding);
    }

    // @include minXl {
    //   max-width: withPx($maxWidth + $doubleSidePadding);
    // }
  }

  &-title {
    font-weight: 800;
    font-size: 24px;
    // line-height: 38px;

    &--sub {
      font-family: $subTitleFonts;
    }

    &--large {
      margin-bottom: 75px;
      font-size: 64px;
      line-height: 76px;
    }

    &--big {
      margin-bottom: 31px;
      @include padding('* 6px');
      font-size: 40px;
      // line-height: 48px;
    }
  }
}

.text-muted {
  color: $gray;
}

.img_wrap {
  margin-bottom: 0;

  &-img {
    width: auto;
    max-width: 100%;
  }
}

.menu {
  flex: 0 1 420px;
}

.list {
  $block: &;

  padding-left: 0;
  list-style: none outside;

  &--dotted {
    #{$block}-item {
      position: relative;
      padding-left: 11px;

      &:before {
        @include position('absolute 12px * * 0');
        display: block;
        border-radius: 50%;
        size: 2px;
        background-color: $lightBlack;
        content: '';
      }
    }
  }
}

.btn {
  $bgColor: #6c5dd2;

  border-radius: $borderRadius;
  padding: 0 24px;
  font-size: 18px/50px;

  &-primary {
    border-color: $bgColor;
    background-color: $bgColor;
  }

  &--high {
    line-height: 57px;
  }
}

.card {
  border-width: 0;
  border-radius: $borderRadius;
  @include padding('* 0');
}

.slide {
  &-enter-active,
  &-leave-active {
    @include transitionAll;
    @include margin('0 *');
    @include padding('0 *');
    overflow: hidden;
    // height: 230px;
    // visibility: visible;
  }

  &-enter,
  &-leave-to {
    height: 0;
    // visibility: hidden;
  }

  // &-enter-to,
  // &-leave {
  //   visibility: visible;
  // }
}
