* {
  margin: 0;
  border: 0;
  padding: 0;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  position: relative;
  font-family: $mainFonts;
  font-size: $fontSize;
  color: $mainColor #f9f1e7;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  list-style-position: inside;
}

.section {
  overflow: hidden;

  &-body {
    display: flex;
    justify-content: space-between;
  }

  &-container {
    $sidePadding: 15;

    @include margin('* auto');
    @include padding('* #{$sidePadding}');
    min-width: withPx($minWidth);
    max-width: withPx($mdWidth);

    @include md {
      max-width: withPx($lgWidth + $sidePadding);
    }

    @include lg {
      max-width: withPx($xlWidth + $sidePadding);
    }

    // @include xl {
    //   max-width: withPx($maxWidth + $sidePadding);
    // }
  }

  &-title {
    font-weight: 800;
    font-size: 24px;
    // line-height: 38px;

    &--sub {
      font-family: $subTitleFonts;
    }

    &--large {
      margin-bottom: 75px;
      font-size: 64px;
      line-height: 76px;
    }

    &--big {
      margin-bottom: 31px;
      @include padding('* 6px');
      font-size: 40px;
      // line-height: 48px;
    }
  }
}

.text-muted {
  color: $gray;
}

.img_wrap {
  margin-bottom: 0;

  &-img {
    width: auto;
    max-width: 100%;
  }
}

.menu {
  flex: 0 1 420px;
}

.list {
  $block: &;

  padding-left: 0;
  list-style: none outside;

  &--dotted {
    #{$block}-item {
      position: relative;
      padding-left: 11px;

      &:before {
        @include position('absolute 12px * * 0');
        display: block;
        border-radius: 50%;
        size: 2px;
        background-color: $lightBlack;
        content: '';
      }
    }
  }
}

.btn {
  $bgColor: #6c5dd2;

  border-radius: $borderRadius;
  padding: 0 24px;
  font-size: 18px/50px;

  &-primary {
    border-color: $bgColor;
    background-color: $bgColor;
  }

  &--high {
    line-height: 57px;
  }
}

.card {
  border-width: 0;
  border-radius: $borderRadius;
  @include padding('* 0');
}
