@use 'sass:math';

@function withMeasure($value, $measure) {
  @return unquote('#{$value}#{$measure}');
}

@function withPx($value) {
  @return withMeasure($value, 'px');
}

@function toPercent($part, $all, $multy: 100%) {
  // @return $part / $all * $multy;
  @return math.div($part, $all) * $multy;
}

@function toEm($part, $all) {
  // @return $part / $all * $multy;
  @return toPercent($part, $all, 1em);
}

@function adaptiveValue($min, $max) {
  $valueDiff: $max - $min;
  $containerDiff: $maxWidth - $minWidth;

  @return calc(
    #{withPx($min)} + #{$valueDiff} *
      ((100vw - #{withPx($minWidth)}) / #{$containerDiff})
  );
}

%ic {
  // font-family: 'Icons' !important;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
