$fontsPath: '~@/assets/fonts';

$reserveFonts: Arial, Helvetica, sans-serif;
// $reserveFonts: 'Times New Roman';
$mainFonts: BlissPro, $reserveFonts;
$subTitleFonts: 'BlissPro-ExtraBold', $mainFonts;

$trsTime: 0.5s;

$white: #fff;
$darkWhite: #f4f5f7;

$gray: #898989;

$lightBlack: #3a3a3a;
$black: #000;

$red: #e97171;
$orange: #e89f71;
$green: #2ec1ac;
$blue: #262f56;

$mainFontSize: 16px;
$mainColor: $lightBlack;

$zMax: 100000000000000;
$zSuper: 10000000;
$zSuperSuper: 100000000;

$minWidth: 320;
// $minWidth: 0;
$maxWidth: 1440;
// $maxWidth: none;

$mdWidth: 768;
$lgWidth: 992;
$xlWidth: 1240;

$borderRadius: 10;
