.header {
  @include positionTopLeft('absolute');
  width: 100%;

  &-wrapper {
    @include positionTopLeft('fixed');
    width: 100%;
    z-index: 50;
  }

  &-body {
    display: flex;
    align-items: center;
    @include padding('5px *');
    min-height: 125px;
  }

  &-main {
    @include flexOn('center');
    flex: 0 0 toPercent(494, 1240);
  }

  &-logo {
    font-weight: 700;
    font-size: 24px;
    line-height: toPercent(29, 24);
    color: #000;
  }

  &-menu {
    flex: 0 1 420px;

    .menu {
      $block: '.menu';

      &-list {
        @include md {
          @include flexOn('', 'space-evenly', 'wrap');
        }
      }

      &-item {
        $elem: #{$block}-item;

        position: relative;
        @include flexOn('center', 'space-between', 'wrap');
        @include margin('* 3px');
        @include padding('5px *');

        @mixin touchStyles() {
          #{$block}-link,
          #{$block}-arrow {
            color: $orange;
          }

          #{$block}-arrow {
            transform: rotate(-180deg);
          }

          #{$block}-sub_list {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transform: translateY(0);
          }
        }

        @include anyHover {
          &:hover {
            @include touchStyles;
          }
        }

        @include md {
          &#{$elem}--hover {
            // &.menu-item--hover {
            color: red;
            @include touchStyles;
          }
        }
      }

      &-link {
        font-weight: 500;
        color: inherit;
        @include transition('color');
      }

      &-arrow {
        margin-left: 8px;
        font-size: 8px;
        @include transitionAll;
      }

      &-sub_list {
        position: relative;
        flex: 1 1 100%;
        // z-index: 1;
        padding: 15px;
        background-color: $orange;

        @include md {
          @include positionTopLeft('absolute', '100%');
          min-width: 200px;
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          transform: translateY(10px);
          @include transitionAll;
        }
      }

      &-sub_item {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      &-sub_link {
        line-height: 120%;
        color: $white;
      }
    }
  }

  &-search {
    max-width: 473px;

    &-icon {
      display: none;
    }

    &-item {
      @include flexOn('center');
      background-color: $white;
    }

    &-btn {
      flex: 0 0 45px;
      height: 45px;
      font-size: 15px;
      color: #333;
    }

    &-input {
      padding-right: 20px;
      width: 100%;
      font-size: 14px;
      color: $lightBlack;
    }

    @include lg {
      flex: 1 1 auto;
    }
  }
}
