.header {
  @include positionTopLeft('absolute');
  width: 100%;

  &-wrapper {
    @include positionTopLeft('fixed');
    width: 100%;
    z-index: 50;
  }

  &-body {
    display: flex;
    align-items: center;
    @include padding('5px *');
    min-height: 125px;
  }

  &-main {
    @include flexOn('center');
    flex: 0 0 toPercent(494, 1240);
  }

  &-logo {
    font-weight: 700;
    font-size: 24px;
    line-height: toPercent(29, 24);
    color: #000;
  }

  &-menu {
    flex: 0 1 420px;

    .menu {
      $block: '.menu';

      &-list {
        @include md {
          @include flexOn('', 'space-evenly', 'wrap');
        }
      }

      &-item {
        $elem: #{$block}-item;

        position: relative;
        @include flexOn('center', 'space-between', 'wrap');
        @include margin('* 3px');
        @include padding('5px *');

        @mixin touchStyles() {
          #{$block}-link,
          #{$block}-arrow {
            color: $orange;
          }

          #{$block}-arrow {
            transform: rotate(-180deg);
          }

          #{$block}-sub_list {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transform: translateY(0);
          }
        }

        @include anyHover {
          &:hover {
            @include touchStyles;
          }
        }

        @include md {
          &#{$elem}--hover {
            @include touchStyles;
          }
        }
      }

      &-link {
        font-weight: 500;
        color: inherit;
        @include transition('color');
      }

      &-arrow {
        margin-left: 8px;
        font-size: 8px;
        @include transitionAll;
      }

      &-sub_list {
        position: relative;
        flex: 1 1 100%;
        // z-index: 1;
        padding: 15px;
        background-color: $orange;

        @include md {
          @include positionTopLeft('absolute', '100%');
          min-width: 200px;
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          transform: translateY(10px);
          @include transitionAll;
        }
      }

      &-sub_item {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      &-sub_link {
        line-height: 120%;
        color: $white;
      }
    }
  }

  &-search {
    @include adaptiveProp('padding-right', 1px, 15px, 32px);

    @include lg {
      flex: 1 1 auto;
    }
  }
}

.search_form {
  $block: &;

  max-width: 473px;

  @mixin isVisible {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }

  &#{$block}-active {
    #{$block}-item {
      @include isVisible;
    }

    #{$block}-icon {
      color: $orange;
    }
  }

  &-icon {
    position: relative;
    z-index: 5;
    font-size: 22px;
    color: $blue;

    @include lg {
      display: none;
    }
  }

  &-item {
    @include positionTopLeft('absolute', -100%, 0);
    z-index: 5;
    @include flexOn('center');
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
    visibility: hidden;
    opacity: 0;
    @include transitionAll;

    @include lg {
      position: static;
      box-shadow: none;
      @include isVisible;
    }
  }

  &-btn {
    flex: 0 0 45px;
    height: 45px;
    font-size: 15px;
    color: #333;
  }

  &-input {
    padding-right: 20px;
    width: 100%;
    font-size: 14px;
    color: $lightBlack;
  }
}

@mixin icon {
  color: $blue;
  font-size: 24px;
  @include transition('color');
  @include anyHover {
    &:hover {
      color: $orange;
    }
  }
}

.actions {
  $block: &;

  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  @include adaptiveProp('gap', 1px, 15px, 32px);

  &-item {
    $elem: &;

    &#{$elem}--favorites {
      @include icon;
    }

    &#{$elem}--user {
      border-radius: 50%;
      overflow: hidden;
      @include adaptiveProp('size', 1px, 30px, 40px);
    }
  }
}

.cart {
  &-icon {
    position: relative;
    display: block;
    @include icon;

    span {
      @include position('absolute -10px -10px * *');
      @include flexOn('center', 'center');
      border-radius: 50%;
      size: 20px;
      font-size: 12px;
      color: $white $orange;
    }
  }
}
